{% extends './base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <h1 class="card-header mb-2">Category</h1>
                    <div class="list-group">
                        <a href="{% url 'book:home' %}" class="list-group-item list-group-item-action {% if not category_id %} active h5 {% endif %}">
                            All Book
                        </a>
                        {% for c in categories %}
                            <a href="{% url 'book:home' %}?category={{ c.id }}" class="list-group-item list-group-item-action {% if category_id|add:'0' == c.id %} active h5 {% endif %}">{{ c.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    {# book list #}
                    <h1 class="card-header">Book Store</h1>
                    <div class="row d-flex justify-content-start p-3">
                        {% for b in book %}
                        <div class="card m-1" style="width: 20rem;">
                            {% if b.image %}<img src="{{ b.image.url }}" class="card-img-top img-fluid" alt="book-cover">{% endif %}
                            <div class="card-body">
                                <h5 class="card-title"><strong>ชื่อหนังสือ : </strong>{{ b.name }}</h5>
                                <p class="card-text"><strong>ราคา : </strong>{{ b.price|floatformat:'2'}} บาท</p>
                                <p class="card-text">
                                    <strong>ผู้แต่ง : </strong>
                                    {% for author in b.author.all %}
                                        <span class="badge badge-secondary">{{ author.name }}</span>
                                    {% endfor %}
                                </p>
                                <p class="card-text">
                                    <strong>หมวดหมู่ : </strong>
                                    {% for c in b.category.all %}
                                        <span class="badge badge-warning text-white">{{ c.name }}</span>
                                    {% endfor %}
                                </p>
                                <a href="{% url 'book:book-detail' b.slug %}" class="btn btn-sm btn-info btn-block">Detail</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                {# pagination #}
                <nav class="d-flex justify-content-center">
                    <ul class="pagination">
                        {% if book.has_previous %}<li class="page-item"><a class="page-link" href="{% url 'book:home' %}?page={{ book.previous_page_number }}">Previous</a></li>{% endif %}
                        {% for i in book.paginator.page_range %}
                            <li class="page-item {% if book.number == i %}active{% endif %}">
                                <a class="page-link" href="{% url 'book:home' %}?page={{ i }}">{{ i }}</a>
                            </li>
                        {% endfor %}
                        {% if book.has_next %}<li class="page-item"><a class="page-link" href="{% url 'book:home' %}?page={{ book.next_page_number }}">Next</a></li>{% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock content %}